<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <envioclick>
                <active>0</active>
                <title>Envio Click</title>
                <apiKey>null</apiKey>
                <productWeight>weightTotalProduct</productWeight>
                <weightTotalDefault>1</weightTotalDefault>
                <productDimensions>dimensionsTotalProduct</productDimensions>
                <widthTotalDefault>1</widthTotalDefault>
                <heightTotalDefault>1</heightTotalDefault>
                <lengthTotalDefault>1</lengthTotalDefault>
                <showErrorsFrontend>0</showErrorsFrontend>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>Imagina\Envioclick\Model\Carrier\Customshipping</model>
            </envioclick>
        </carriers>
    </default>
</config>